.brand {
   background-image: url(../img/logo.png);
   display: block;
   float: left;
   height: 3.1875rem;
   position: absolute;
   margin: 0.65rem 0 0 1rem;
   width: 12.3125rem;

   @include hide-text;
}

